In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import os

In [3]:
data_path = '../data/raw/news/'
news_articles = next(os.walk(data_path))[2]

articles = []
for file in news_articles:
    with open(f'{data_path}{file}', 'r') as file:
        try:
            raw_article = file.read()
            paragraphs = raw_article.split('\n\n')
            date = '_'.join(file.name.split('/')[-1].split('_')[1:3]).split('.')[0]
            header = paragraphs[0]
            body = ' '.join(paragraphs[1:])
            articles.append([date, header, body])
        except Exception as e:
            continue

print(f"# Articles: {len(articles)}")

# Articles: 26

In [4]:
data = pd.DataFrame(articles, columns=['date','header','body'])
display(data.head(10))

,date,header,body
0,jan_2002,"When 401(k)s Are KO'd\nAs Enron collapsed, so ...",Marie Thibaut spent 15 years as an administrat...
1,jan_2002,One Plus One Makes What?\nThe accounting profe...,Where were the auditors? People ask that quest...
2,jan_2002,Caught Off Balance\nBond sleuths were ahead on...,"If you learn nothing else from the Enron mess,..."
3,mar_2002,Congress Goes All Enron All The Time\nHere are...,Watergate spawned campaign-finance reform and ...
4,feb_2002,Monster Mess\nThe Enron fallout has just begun...,"Anytime a stock market bubble bursts, a busine..."
5,dec_2001,"Enron's Cow\nFORTUNE\nMonday, December 24, 200...",Maybe Enron's downfall shouldn't have come as ...
6,dec_2001,"Enron Fallout: Wide, But Not Deep\nEnron's col...",In a bland suburban office park 30 minutes nor...
7,mar_2001,Is Enron Overpriced?\nIt's in a bunch of compl...,"In Hollywood parlance, the “It Girl” is someon..."
8,feb_2002,Dirty Rotten Numbers\nEnron has made us shine ...,In E.B. White's classic children's book Charlo...
9,may_2000,Winning the War to Keep Top Talent,"By Nicholas Stein Enron Houston; 18,000 employ..."

In [5]:
data['header'] = data.apply(lambda row: row['header'].split('FORTUNE')[0].strip().replace('\n',' - '), axis=1)
data['date'] = pd.to_datetime(data['date'], format='%b_%Y')
display(data.head())

,date,header,body
0,2002-01-01,"When 401(k)s Are KO'd - As Enron collapsed, so...",Marie Thibaut spent 15 years as an administrat...
1,2002-01-01,One Plus One Makes What? - The accounting prof...,Where were the auditors? People ask that quest...
2,2002-01-01,Caught Off Balance - Bond sleuths were ahead o...,"If you learn nothing else from the Enron mess,..."
3,2002-03-01,Congress Goes All Enron All The Time - Here ar...,Watergate spawned campaign-finance reform and ...
4,2002-02-01,Monster Mess - The Enron fallout has just begu...,"Anytime a stock market bubble bursts, a busine..."

In [11]:
all_paragraphs = []
for file in news_articles:
    with open(f'{data_path}{file}', 'r') as file:
        try:
            raw_article = file.read()
            paragraphs = raw_article.split('\n\n')
            date = '_'.join(file.name.split('/')[-1].split('_')[1:3]).split('.')[0]
            for paragraph in paragraphs[1:]:
                all_paragraphs.append([date,paragraph])
        except Exception as e:
            continue

print(f"# Paragraphs: {len(all_paragraphs)}")

# Paragraphs: 192

In [13]:
paragraph_data = pd.DataFrame(all_paragraphs, columns=['date','section'])
display(paragraph_data.head(10))

       date                                            section
0  jan_2002  Marie Thibaut spent 15 years as an administrat...
1  jan_2002  That sorry tale has been repeated thousands of...
2  jan_2002  Now legislators and pension-reform advocates a...
3  jan_2002  The legislation won't necessarily pass without...
4  jan_2002  Pension-reform advocates say a little paternal...
5  jan_2002  Where were the auditors? People ask that quest...
6  jan_2002  The full story of the Enron debacle--and what ...
7  jan_2002  But is it? Accounting's main self-regulatory b...
8  jan_2002  In their defense, the auditors note that curre...
9  jan_2002  Perhaps the most glaring example of self-regul...

In [14]:
paragraph_data.to_clipboard()